@keyframes myAnimation {
    from{
        transform: rotateY(0deg);
        
    }
    to{
        transform: rotateY(360deg);
    }
}
.navbar-brand{
    text-shadow: 3px 3px 10px black;
    animation-name: myAnimation;
    animation-duration: 7s;
    animation-timing-function:linear;
    animation-direction: normal;
    animation-iteration-count: infinite;
    
}